
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea/*
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/public/images/custom-products/
/public/images/gallery/
/public/images/products/
/public/images/handleColor/
/public/images/handleShape/
/public/uploads/sketches/
/.env


###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
