{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="display-2 text-center">Create Your Own Custom</h1>
            <h2>Ice Stamp, Branding Iron & Heat Stamp</h2>
        <p class="lead">
            You will be able to submit your stamp design and we will come back to you with the price quote. Each logo is unique so we need additional information in order to produce a quote.
        </p>
        <hr class="my-4">
        <p>
            Follow easy steps to create your custom stamp(s). Have your logo, brand design prepared in high resolution or vector graphic.<br />
            If you are looking for something really specific don't hesitate and <a href="{{ path('contact') }}">contact us</a>.
        </p>
        <a class="btn btn-success btn-lg" href="{{ path('create_stamp_contact_details_new') }}" role="button">Start now - Create Your Custom Stamp</a>
    </div>
{% endblock %}

