{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="card">
        {{ form_start(form, {attr: { novalidate: 'novalidate' }}) }}
        <div class="card-header">
            {% include 'create_stamp/partials/_tabs.html.twig' %}
        </div>
        <div class="card-body">
            {{ form_widget(form) }}
            <h2>Handle Shape</h2>
            <ul>
                <li>7 Types</li>
            </ul>
            <h2>Handle Color</h2>
            <ul>
                <li>7 Colors</li>
            </ul>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-md btn-success">Next Step</button>
            <a href="#" class="btn btn-md btn-outline-secondary pull-right">Cancel</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
