{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="display-4">Get in touch</h1>
                    <p class="lead">If you want more information about any of our services or would otherwise like to
                        contact us, please fill this in and we'll get back to you as soon as possible.</p>

                    <div class="alert alert-secondary">
                        {{ form_start(form, {attr: { novalidate: 'novalidate' }}) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-md btn-outline-success">Send Enquiry</button>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="display-4">Emails</h1>
                    <p class="lead">info@cocktailbrandalism.com</p>

                    <h1 class="display-4">Social Media</h1>
                    <p class="lead">
                        You can also contact us and support on social media.<br />
                        <i class="fab fa-facebook-square" style="color: #3b5999;"></i> <a href="https://www.facebook.com/CocktailBrandalism">CocktailBrandalism on facebook</a><br />
                        <i class="fab fa-instagram"  style="color: #e4405f;"></i> <a href="https://www.instagram.com/cocktailbrandalism/"> CocktailBrandalism on instagram</a><br />
                        <i class="fab fa-youtube"  style="color: #cd201f;"></i> <a href="https://www.youtube.com/channel/UCZLus1e8f1o9FOIixlsk_IQ"> CocktailBrandalism on youtube</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


