{# templates/emails/registration.html.twig #}
<h3>Thank you for contacting CocktailBrandalism.com</h3>

Thank you <b>{{ data.name }}</b>,
<p>
    you have received this email because you were trying to contact us on cocktailbrandalism.com with following query:
    <br/>
    {{ data.enquiry }}
    <br/><br/>
    We will do our best to respond to you on your email: <b>{{ data.email }}</b>.
    <br/><br/>
    We tend to answer all enquiries within 24hours.
</p>
In the meantime do not hesitate and check our website
<a href="http://www.cocktailbrandalism.com">www.cocktailbrandalism.com</a>.
<br/><br/><br/>
<small>Do not respond to this email.</small>


