body {
    padding-top: 0rem;
}

.cb-navbar {
    background-image: url(../images/splash.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #ddd;
}

.starter-template {

}

.h1, h1 {
    font-size: 1.5rem;
}

.breadcrumb {
    padding: .5rem 1rem;
}

#jqxGrid {
    margin-bottom: 10px;
}

.my-card-img-top {
    text-align: center;
    padding: 10px;
    height: 200px;
}

.card {
    border-top: 5px solid #efe295;
}

.inner-card {
    border-top: 5px solid #afd8ef;
}

.no-top-border-card .card {
    border-top: none;

}

.sketch-img {
    max-height: 200px;
}

.sketch-img-preview {
    height: 200px;
}

.footer {
    margin-top: 20px;
    width: 100%;
    height: 100%; /* Set the fixed height of the footer here */
    /*line-height: 100px; !* Vertically center the text there *!*/
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, .125);
    background-image: url(../images/splash.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #f5f5f5;
}

.form-group label.required:before {
    content: "* ";
    color: red;
}

/*NAVBAR*/
.navbar {
    padding: 0rem 1rem;
}

.navbar-nav li.nav-item {
    border-left: 1px solid #dee2e6;
    cursor: pointer;
}

.navbar-nav li.nav-item:hover:not(.active) {
    background-color: #ddd;
}

.navbar-nav .active {
    background-color: #efe295;
}

.navbar-nav .nav-item .nav-link p {
    text-align: center;
    margin-bottom: 0px !important;
    font-size: 12px;
}

.navbar-nav .nav-item {
    min-width: 90px;
    text-align: center;
}

/*DROPDOWN ARROW NAVBAR*/
.navWrapper .dropdown .nav-link p:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-size: 10px;
    padding-left: 5px;
}

.navWrapper .show .nav-link p:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    font-size: 10px;
    padding-left: 4px;
}

/*FOOTER MEDIA*/
.link-media-footer {
    color: #797979;
}

.link-media-footer:hover {
    text-decoration: none;
}

/*CUSTOM STAMP ORDER */
.item-selection-custom {
    margin: 0 10px 20px 10px;
}

.custom-shape-wrapper {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    box-sizing: border-box;
    height: 185px;
    width: 125px;
}

.custom-color-wrapper {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.custom-shape-wrapper, .custom-color-wrapper, .custom-shape-stamp-wrapper {
    border: 3px solid #ddd;
}

.custom-shape-wrapper:hover, .custom-color-wrapper:hover ,.custom-shape-stamp-wrapper:hover{
    border: 3px solid green;
}

.item-selection-custom .active {
    border: 3px solid green;
}

.item-selection-custom i {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1000;
    display: none;
}

.item-selection-custom .active i {
    display: block;
}


.custom-shape-wrapper img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.custom-shape-stamp-wrapper {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.custom-shape-stamp-wrapper.square {
    width: 125px;
    height: 125px;
}

.custom-shape-stamp-wrapper.rectangle {
    width: 225px;
    height: 125px;
}

.custom-shape-stamp-wrapper.circle {
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.custom-shape-stamp-wrapper.ellipse {
    width: 225px;
    height: 125px;
    border-radius: 50%;
}

.custom-shape-stamp-wrapper.custom {
    width: 200px;
    height: 125px;
    border-top-right-radius: 20%;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 10%;
}

.custom-shape-stamp-wrapper img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100px;
}

.item-selection-custom .circle i {
    position: absolute;
    top: 5px;
    left: 43px;
    z-index: 1000;
    display: none;
}

.item-selection-custom .circle.active i {
    display: block;
}

.item-selection-custom .ellipse i {
    position: absolute;
    top: 5px;
    left: 93px;
    z-index: 1000;
    display: none;
}

.item-selection-custom .ellipse.active i {
    display: block;
}

.item-selection-custom .custom i {
    position: absolute;
    top: 5px;
    left: 83px;
    z-index: 1000;
    display: none;
}

.item-selection-custom .custom.active i {
    display: block;
}

/********************* shopping Demo-1 **********************/
.product-grid{font-family:Raleway,sans-serif;text-align:center;padding:0 0px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1; margin-bottom: 20px;}
.product-grid:hover {
    border-color: #008000;
}
.product-grid .product-image{position:relative;transition:all .3s ease 0s}
.product-grid .product-image a{display:block}
.product-grid .product-image img{width:100%;height:auto}
.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.product-grid:hover .pic-1{transform:scale(1.5)}
.product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.product-grid:hover .social{opacity:1;top:50%}
.product-grid .social li{display:inline-block}
.product-grid .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid .social li a:hover{color:#fff;background-color:#007bff}
.product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
.product-grid .product-discount-label,.product-grid .product-new-label{color: #ffffff;background-color: green;font-size:14px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:20px;left:0px; border-radius: 0 3px 3px 0;}
.product-grid .product-discount-label{background-color:#333; opacity: 0.5; font-size: 16px; left:auto;right:0; border-radius: 3px 0px 0px 3px;}
.product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;margin:0;list-style:none;position:relative;z-index:-1}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#000; opacity: 0.5;text-align:center;padding:12px 0;margin:0 auto;z-index:1; color: #fff;}
.product-grid .product-content{bottom:0}
.product-grid .title{font-size:16px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0px;}
.product-grid .title a{color:#828282}
.product-grid .title a:hover,.product-grid:hover .title a{color:#ef5777}
.product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
.product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}



.gallery-img {
    border: 2px solid #ddd;
}

.gallery-img:hover {
    border-color: yellowgreen;
    opacity: 0.9;
}

/*.our-product:hover img{overflow:hidden; position: relative}*/
/*.our-product:hover img{transition:all 1.5s}*/
/*.our-product:hover img{transform:scale(1.5)}*/

.card-img-top {
    border-radius: 0px;
}
.our-product-wrapper{overflow:hidden !important;}
.our-product img{transition:all 0.5s;}
.our-product-wrapper:hover .our-product img{transform:scale(1.2);}

.carousel-item-wrapper {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #fff;
    width: 100%;
    height: 200px;
    padding: 20px;
}

.carousel-item-wrapper h2, .carousel-item-wrapper p {
    color: #fff;
}

.carousel-indicators li {
    background-color: #DDDDDD;
}

.carousel-indicators li.active {
    background-color: #000;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* Sortable */
.sortable-ghost {
    background-color: lightblue;
}

.drag-handle {
    cursor: grab;
}




