<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {#<link rel="icon" href="../../../../favicon.ico">#}

    <title>Cocktail Brandalism {% block title %}{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
              crossorigin="anonymous">
        <!-- Custom styles for this template -->
        <link href="{{ asset('styles/styles.css') }}" rel="stylesheet">

    {% endblock %}
</head>

<body>
{% include 'partials/_navigation.html.twig' %}
<main role="main" class="container-fluid">
    {% include 'partials/_breadcrumbs.html.twig' %}
    <div class="starter-template">
        {% include 'partials/_flashMessaged.html.twig' %}
        {% block body %}{% endblock %}
    </div>
</main>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="text-muted small">
                    Product of <a href="http://www.cocktailbrandalism.com" title="Cocktail Brandalism.">Cocktail Brandalism</a> &COPY; {{ 'now'|date('Y') }}<br />
                    Internet Explorer 11+ Supported | Optimised for Google Chrome<br />
                    Contact details: <i class="fas fa-at"></i> <a href="mailto:info@cocktailbrandalism.com?Subject=Brandalism%20Support" target="_top">info@cocktailbrandalism.com</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row justify-content-end">
                    <div class="col-2 text-center"><a href="https://www.facebook.com/CocktailBrandalism/" target="_blank" class="link-media-footer"><i class="fab fa-facebook-square fa-2x"></i><p>Like</p></a></div>
                    <div class="col-2 text-center"><a href="https://www.youtube.com/channel/UCZLus1e8f1o9FOIixlsk_IQ" target="_blank" class="link-media-footer"><i class="fab fa-youtube fa-2x"></i><p>Subscribe</p></a></div>
                    <div class="col-2 text-center"><a href="https://www.instagram.com/cocktailbrandalism/" target="_blank" class="link-media-footer"><i class="fab fa-instagram fa-2x"></i><p>Follow</p></a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script type="application/javascript"
            src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.11/dist/sweetalert2.all.min.js"></script>
{% endblock %}
</body>
</html>
